/* .contactContainer{
   display: grid;
   grid-template-rows: 10% 75% 15%;
   overflow: hidden;
   background-color: #080420;
}
.contactContainer .brand{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contactContainer .brand img{
  height: 2rem;
}
.contactContainer .brand h3{
  color: white;
  text-transform: uppercase;
}
.contactContainer .contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}
.contactContainer .contacts .contact{
  background-color: #ffffff39;
  min-height: 5rem;
  width: 90%;
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.4rem;
  gap: 1rem;
  align-items: center;
  display: flex;
  transition: 0.5 ease-in-out;
}
.contactContainer .contacts::-webkit-scrollbar{
  width: 0.2rem;
}
.contactContainer .contacts::-webkit-scrollbar-thumb{
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}
.contactContainer .contacts .avatar img{
  height: 3rem;
}
.contactContainer .username h3{
   color: white;
}
.contactContainer .select{
  background-color: #9a86f3;
}
.contactContainer .current-user{
  background-color: #0d0d30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contactContainer .current-user .avatar img{
   height: 4rem;
   max-inline-size: 100%;
}
.contactContainer .current-user .username h2{
   color: white;
}

@media screen and (min-width:720px) and (max-width:1080px){
  .contactContainer .current-user{
    gap: 0.5rem;
  }
  .contactContainer .current-user .username h2{
    font-size: 1rem;
  }
} */